*{
	font-family: 'Satisfy', cursive;
}
body{
	background:#286090;
	background:url(parrot.jpg)no-repeat;
	background-position:right;
	background-size:contain;
}
.container{
	margin:190px auto;
	background:rgba(52, 241, 180, 0.5);
	width:70%;
	padding:20px;

}
input{
	border-radius:5px;
	border:1px solid #777;
	padding:3px 3px 3px 30px;
	width:70px;
	background:#777;
}
button{
	border-radius:5px;
	border:1px solid #000;
	background:#000;
	color:#FFF;
}
footer{
	text-align:center;
}
footer a{
	color:black;
}
@media screen and (max-width:750px){
	.container{
		width:100%;
		margin:200px 0 0 0 ;
		padding:10px;
	}
